<h1>Editing Supplier</h1>
<div class="panel panel-default">
  <div class="panel-heading">Customer Details</div>
  <div class="panel-body">
<%= render 'form', supplier: @supplier %>
</div>
</div>

<%= link_to 'Show', @supplier %> |
<%= link_to 'Back', suppliers_path %>
