<h1>New Supplier</h1>
<div class="panel panel-default">
  <div class="panel-heading">Supplier Details</div>
  <div class="panel-body">
	<%= render 'form' %>
  </div>
</div>

<%= link_to 'Back', suppliers_path %>
